# Node
backend/node_modules/
backend/dist/ # Adicionado: Ignora o diretório de saída do TypeScript

# Logs
*.log
npm-debug.log* # Adicionado: logs de debug específicos do npm

# Docker (já que você removeu, esta seção é mais uma formalidade)
**/.docker/
**/Dockerfile~

# Sistema
.DS_Store
Thumbs.db

# Vscode configs (se usar)
# .vscode/ # Geralmente bom ignorar settings.json, mas considere commitar launch.json e extensions.json
.vscode/settings.json # Sugestão: ignore apenas settings.json se quiser compartilhar outras configs
*.code-workspace

# Linux swap/temp
*.swp
*.swo
*~

# Outros
.env